* {
    margin: auto;padding: 0px;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    max-width: 700px;
}

.banner {
    background-color: #0b0e10;
    color: #33b3a6;
    width: 100%;
    border-bottom: whitesmoke;
    border-bottom-style: solid;
    border-bottom-width: thick;
}

.top-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #0b0e10;
    width: 100%;
    height: auto;
    padding: 10px;
    border-bottom: whitesmoke;
    border-bottom-style:solid;
    border-bottom-width:thick;
}

.logo  {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 40px;
    padding: 10px;
    text-transform: uppercase;
}


.menu {
    -webkit-flex: 3px;
    -moz-flex: 3px;
    -ms-flex: 3px;
    -o-flex: 3px;
    -webkit-box-flex: 3px;
    flex: 3px;
}
.menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-top: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.menu ul li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}
.menu ul li a {
    font-family: 'Teko', sans-serif;
    color: #33b3a6;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    color: #191919;
}


.banner-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 15% 0;
}
.banner-text-items {
    color: #33b3a6;
    margin: auto;
    text-align: center;
    width: 50%;
}
.banner-text-items h2 {
    font-size: 3em;
    color: #33b3a6;
    font-family: 'Teko', sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.banner-text-items p {
    font-size: 18px;
}

.work-gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    background-color: #0b0e10;
    padding: 5% 0;
    border-bottom: whitesmoke;
    border-bottom-style: solid;
    border-bottom-width: thick;
}

.main-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    background-color: #0b0e10;
    padding: 5% 0;
    border-bottom: whitesmoke;
    border-bottom-width:thick;
    border-bottom-style:solid;
}

.main-content h2 {
    font-family: 'Teko', sans-serif;
    color: #33b3a6;
}
.main1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 3%;
    text-align: center;
}






/*div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  */
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float:left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }







/*.work-gallery h2 {
    font-family: 'Teko', sans-serif;
    color: #33b3a6;
}

.work-gallery ul li a {
    text-decoration: none;

}
.work1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 3%;
    text-align: center;
}
*/




.contact-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.contact {
    background-color:#0b0e10 ;
    padding: 80px 0;
    position: relative;
    z-index: 1;
}
/*
.contact:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}
*/
.contact-items h2 {
    color: #33b3a6;
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    margin-bottom: 18px;
}

.contact-items input[type="text"] {
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    width: 50%;
}

.contact-items textarea {
    border-radius: 10px;
    height: 150px;
    padding: 15px;
    width: 50%;
}
.contact-items a {
    background: #33b3a6;
    color: whitesmoke;
    font-family: 'Teko', sans-serif;
    display: block;
    font-size: 20px;
    margin-top: 25px;
    padding: 15px 80px;
    text-decoration: none;
    text-transform: uppercase;
}

@media all and (max-width: 500px) {
    .top-nav{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    }
    .logo{
        padding: 18px 0 0;
    }
    .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0;
    }
    .menu ul li {
        padding: 5px;
    }
    .banner-text-items {
        width: 100%;
    }
    .banner-text-items h2 {
        font-size: 1.5em;
    }
    .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    }
}

@media all and (max-width: 800px) {
    .top-nav{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        }
        .logo{
            padding: 18px 0 0;
        }
        .menu ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 0;
        }
        .menu ul li{
            padding: 5px;
        }
        .banner-text-items {
            width: 100%;
        }
        .banner-text-items h2 {
            font-size: 1.5em;
        }
        .main-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        }
}