body {
    /*background-image: url("./assets/images/stars.jpg");*/
    background-size: 100%;
    background-color: black;
    font-family: 'NTR', sans-serif;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-area a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: red;
    height: 50px;
    text-decoration: none;
    z-index: 1;
}

.nav-area ul li > ul {
    display: none;
    flex-direction: column;
}

.nav-area ul li > ul li {
    width: 100%;
}

.nav-area ul li:hover > ul {
    display: flex;
}

.nav-area a:hover {
    background-color: black;
    color: turquoise;
}

.nav-area ul {
    list-style: none;
    display: flex;
}

.nav-area ul li {
    position: relative;
    width: 100%;
    text-align: center;
}

.nav-area .dropdown li > a {
    background-color: red;
    color: #white;
}

.nav-area .dropdown li > a:hover {
    background-color: black;
    color: turquoise;
}

.dropdown > ul li {
    display: none;
    position: relative;
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 2;
}

.dropdown ul li:hover {
    display: block;
}

.info-container1 {
    padding: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
}

/*.info-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #05386b;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    max-width: 100%;
    height: 1px;
}*/

.logo-container {
    width: 420px;
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 25px;
    background-color:black;
}

@media screen and (max-width: 419px) {
    .logo-container {
      width: 100%;
      display: flex;
    }
  
    .logo-container img {
      width: 100%;
    }
}

.main-logo {
    margin-top: -30px;
    margin-bottom: 15px;
}

.headshot {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

h2 {
    text-align: center;
    color: #05386b;
    font-size: 14pt;
}

p {
    text-align: center;
    /*text-align-last: justify;*/
    color: white;
}

.container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
}

.b {
    text-emphasis: center;
    color: #edf5e1;
}

.c a:any-link {
    color: white;
    text-decoration: none;
}

.c {
    text-align: center;
    color: white;
}
.c a:link {
    color: white;
}
.c a:visited {
    color: white;
}
.c a:hover {
    background-color: red;
    color: #edf5e1;
}
.c a:active {
    color: white;
}

.container a {
    width: 30%;
}
  
.container img {
    width: 100%;
    padding: 10px;
}
  
@media screen and (max-width: 800px) {
    .container {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .container a {
        width: 100%;
    }
}

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footer {
    background:red;
    height: 10px;
    margin: auto;
    width: 100%;
    text-align:center;
    padding:10px;
    color: #edf5e1;
    font-size: 9pt;
}

